
div{
    text-align: center;
}
html{
    background: url(subhash.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
footer{
    text-align: left;
    }
.parallax{
    background-image: url(ece.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}